<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改设备故障日报')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-leave-edit" th:object="${bizLeave}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">Failure Mode：</label>
            <div class="col-sm-8">
                <input name="failureMode" class="form-control" type="text" th:field="*{failureMode}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">区域：</label>
            <div class="col-sm-8">
                <input name="region" class="form-control" type="text" th:field="*{region}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">周：</label>
            <div class="col-sm-8">
                <input name="week" class="form-control" type="text" th:field="*{week}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">月：</label>
            <div class="col-sm-8">
                <input name="month" class="form-control" type="text" th:field="*{month}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">绩效区域：</label>
            <div class="col-sm-8">
                <input name="scoreRegion" class="form-control" type="text" th:field="*{scoreRegion}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">责任人：</label>
            <div class="col-sm-8">
                <select name="responsiblePerson" class="form-control m-b"
                        th:with="type=${@dict.getType('biz_operator')}" required>
                    <option value="">请选择责任人</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}" th:field="*{responsiblePerson}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: select2-js"/>
<script th:src="@{/js/activiti.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "leaveCounterSign";
    $("#form-leave-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-leave-edit').serialize());
        }
    }
</script>
</body>
</html>
