<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('设备故障日报列表')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            生产线：<select name="prodLine" th:with="type=${@dict.getType('biz_prod_line')}">
                            <option value="">请选择生产线</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            班次：<select name="className" th:with="type=${@dict.getType('biz_class_name')}">
                            <option value="">请选择班次</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            班制：<select name="classType" th:with="type=${@dict.getType('biz_class_type')}">
                            <option value="">请选择班制</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <p>维修单号：</p>
                            <input type="text" name="instanceId"/>
                        </li>
                        <li class="select-time">
                            <p>时间选择：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始日期"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束日期"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group" th:if="!${@permission.isRole('deptLeader')}">
            <!-- <a class="btn btn-success" onclick="$.operate.addFull()">
                <i class="fa fa-plus"></i> 添加
            </a> -->
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="process:leave:export">
                <i class="fa fa-download"></i> 导出
             </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script th:src="@{/js/activiti.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "leaveCounterSign";
    var datas = [[${@dict.getType('biz_leave_type')}]];
    //字典-生产线
    var biz_prod_line = [[${@dict.getType('biz_prod_line')}]];
    //字典-班次
    var biz_class_name = [[${@dict.getType('biz_class_name')}]];
    //字典-班制
    var biz_class_type = [[${@dict.getType('biz_class_type')}]];
    var currentUser = [[${currentUser}]];
    var isLeader = [[${@permission.isRole('deptLeader')}]];

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/edit/{id}",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "设备故障日报",
            columns: [{
                checkbox: true
            },
            {
                    field: 'createTime',
                    title: '日期',
                    align: 'center',
                },
                {
                    field: 'id',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'prodLine',
                    title: '生产线',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(biz_prod_line, value);
                    }
                },
                {
                    field: 'className',
                    title: '班次',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(biz_class_name, value);
                    }
                },
                {
                    field: 'classType',
                    title: '班制',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(biz_class_type, value);
                    }
                },
                {
                    field: "startTime",
                    title: "开始时间"
                },
                {
                    field: "endTime",
                    title: "结束时间"
                },
                {
                    field: 'createBy',
                    title: '创建人ID',
                    visible: false
                },
                {
                    field: 'failureMode',
                    align: 'center',
                    title: 'Failure Mode'
                },
                {
                    field: 'minute',
                    align: 'center',
                    title: '时长'
                },
                {
                    field: 'repairDeviceNum',
                    align: 'center',
                    title: '设备编号'
                },
                {
                    field: 'repairDeviceName',
                    align: 'center',
                    title: '设备名称'
                },
                {
                    field: 'instanceId',
                    align: 'center',
                    title: '维修单号'
                },
                {
                    field: 'repairReason',
                    align: 'center',
                    title: '原因'
                },
                {
                    field: 'repairOperator',
                    align: 'center',
                    title: '维修人员'
                },
                {
                    field: 'applyUser',
                    title: '申请人ID',
                    visible: false
                },
                {
                    field: 'region',
                    align: 'center',
                    title: '区域'
                },
                {
                    field: 'week',
                    align: 'center',
                    title: '周'
                },
                {
                    field: 'month',
                    align: 'center',
                    title: '月'
                },
                {
                    field: 'scoreRegion',
                    align: 'center',
                    title: '绩效区域'
                },
                {
                    field: 'responsiblePerson',
                    align: 'center',
                    title: '责任人'
                },
                {
                    field: 'taskId',
                    title: '当前任务ID',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if(row.status != 1){
                            actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="editForm(\'' + row.id + '\',\'' + row.createBy + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                            if(row.responsiblePerson){
                                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="submitApply(\'' + row.id + '\',\'' + row.createBy + '\')"><i class="fa fa-user"></i> 提交</a> ');
                            }
                        }else{
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" >已提交</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function reset() {
        $.form.reset();
    }

    function editForm(id, createBy) {
        $.operate.edit(id);
    }

    function submitApply(id, createBy) {
        $.modal.confirm("确认要提交吗?", function () {
            var url = prefix + "/submitApply";
            var data = {"id": id};
            $.operate.submit(url, "post", "json", data);
        });
    }
</script>
</body>
</html>
