<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改最终检查日报')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-leave-edit" th:object="${bizLeave}">
        <input name="id" th:field="*{id}" type="hidden">
        <h1>基本信息</h1>
        <div class="form-group">
            <div class="form-group col-sm-3">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>生产线：</label>
                <div class="col-sm-8">
                    <select name="prodLine" class="form-control m-b" th:disabled="${disabled}"
                            th:with="type=${@dict.getType('biz_prod_line')}" required>
                        <option value="">请选择生产线</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{prodLine}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>班次：</label>
                <div class="col-sm-8">
                    <select name="className" class="form-control m-b" th:disabled="${disabled}"
                            th:with="type=${@dict.getType('biz_class_name')}" required>
                        <option value="">请选择班次</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{className}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>班制：</label>
                <div class="col-sm-8">
                    <select name="classType" class="form-control m-b" th:disabled="${disabled}"
                            th:with="type=${@dict.getType('biz_class_type')}" required>
                        <option value="">请选择班制</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{classType}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" style="overflow: scroll;">
            <div class="container-div">
                <!--tblAppendGrid-->
                <div class="container-fluid">
                    <table id="tblAppendGrid"></table>
                </div>
            </div>
        </div>

        <h1>数据统计</h1>
        <div>
            <div class="form-group">
                <!--时间-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>时间(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumMinute" class="form-control" type="text" placeholder="自动计算"
                               th:field="*{sumMinute}" readonly required>
                    </div>
                </div>
                <!--工时-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>工时(h)：</label>
                    <div class="col-sm-8">
                        <input name="sumHour" class="form-control" type="text" placeholder="自动计算" readonly required>
                    </div>
                </div>
                <!--計画数-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>計画数：</label>
                    <div class="col-sm-8">
                        <input name="sumPlanNum" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--阶段生产-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>阶段生产：</label>
                    <div class="col-sm-8">
                        <input name="sumProdNum" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--总生产-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>总生产：</label>
                    <div class="col-sm-8">
                        <input name="sumTotalProdNum" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--実績统计数-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>実績统计数：</label>
                    <div class="col-sm-8">
                        <input name="sumRealNum" class="form-control" type="text" placeholder="自动计算" readonly required>
                    </div>
                </div>
                <!--不良数-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>不良数：</label>
                    <div class="col-sm-8">
                        <input name="sumBadNum" class="form-control" type="text" placeholder="自动计算" readonly required>
                    </div>
                </div>
                <!--试验品-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>试验品：</label>
                    <div class="col-sm-8">
                        <input name="sumTestNum" class="form-control" type="text" placeholder="自动计算" readonly required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--再利用-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>再利用：</label>
                    <div class="col-sm-8">
                        <input name="sumReuse" class="form-control" type="text" placeholder="自动计算" readonly required>
                    </div>
                </div>
                <!--直接作业人员-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>直接作业人员：</label>
                    <div class="col-sm-8">
                        <input name="sumDirectOperator" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--直间作业人员-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>直间作业人员：</label>
                    <div class="col-sm-8">
                        <input name="sumIndirectOperator" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--速成率-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>速成率(%)：</label>
                    <div class="col-sm-8">
                        <input name="sumPlanRate" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--稼动-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>稼动(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType2" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--部品等待-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>部品等待(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType16" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--切换时间-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>切换时间(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType11" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--品质停止-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>品质停止(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType10" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--设备停止-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>设备停止(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType5" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--试做-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>试做(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType12" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--无计划-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>无计划(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType9" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--其他-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>其他(min)：</label>
                    <div class="col-sm-8">
                        <input name="sumWorkTimeType19" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
            </div>
            <!--计划达成-->
            <div class="form-group">
                <!--良品比例-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>良品比例(%)：</label>
                    <div class="col-sm-8">
                        <input name="sumGoodProdRate" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
                <!--工时达成率-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>工时达成率(%)：</label>
                    <div class="col-sm-8">
                        <input name="sumHourRate" class="form-control" type="text" placeholder="自动计算" readonly
                               required>
                    </div>
                </div>
            </div>
        </div>

        <h1>不良内容</h1>
        <div class="container-div">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea name="badReason" class="form-control" rows="5" placeholder="请填写不良内容"
                              th:disabled="${disabled}" required>[[*{badReason}]]</textarea>
                </div>
            </div>
        </div>

        <h1>特计</h1>
        <div class="container-div">
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="reason" class="form-control" th:disabled="${disabled}" th:value="*{reason}"
                           required></input>
                </div>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: select2-js"/>
<script th:src="@{/js/activiti.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "leave";
    $("#form-leave-edit").validate({
        focusCleanup: true
    });
    //字典-品番紙内容
    var biz_content_types = [[${@dict.getType('biz_content_type')}]];
    //字典-维修设备
    var biz_repair_device = [[${@dict.getType('biz_repair_device')}]];

    var repairAttrs = [
        "repairDeviceNum",      //维修设备编号
        "repairDeviceName",     //维修设备名称
        "repairOrder",          //维修单号
        "repairReason",         //停止原因
        "repairOperator",       //维修人员
    ]
    var beginWorkTimeAttrs = [
        "contentType",              //品番紙内容
        "contentSubType",           //車種
        "planNum",                  //計画数
    ]

    var myAppendGrid = {}

    //提交的数据
    var formData = {
        "prodLine": 0,               //生产线
        "className": 0,              //班次
        "classType": 0,              //班制
        "gridDatas": [],
        "sumMinute": 0,              //时间(分钟)
        "sumHour": 0,                //工时(小时)
        "sumPlanNum": 0,             //計画数
        "sumProdNum": 0,             //阶段生产
        "sumTotalProdNum": 0,        //总生产
        "sumRealNum": 0,             //実績统计数
        "sumBadNum": 0,              //不良数
        "sumTestNum": 0,             //试验品
        "sumReuse": 0,               //再利用
        "sumDirectOperator": 0,      //直接作业人员
        "sumIndirectOperator": 0,    //直间作业人员
        "sumPlanRate": 0,            //速成率=計画数/总生产*100%
        "sumWorkTimeTypes": {},
        "sumGoodProdRate": 0,        //良品比例
        "sumHourRate": 0,            //工时达成率
        "badReason": "",             //不良内容
        "reason": "",                //特计
    };

    function submitHandler() {
        if ($.validate.form()) {
            //gridDatas
            for (var i = 0; i < myAppendGrid.getRowCount(); i++) {
                var rowValues = myAppendGrid.getRowValue(i);
                formData.gridDatas.push(rowValues)
            }
            // $.operate.save(prefix + "/edit", $('#form-leave-edit').serialize());
            formData.prodLine = $("select[name='prodLine']").val();
            formData.className = $("select[name='className']").val();
            formData.classType = $("select[name='classType']").val();
            formData.badReason = $("textarea[name='badReason']").val();
            formData.reason = $("textarea[name='reason']").val();
            formData.id = $("input[name='id']").val();
            var bizLeave = [[${bizLeave}]];
            // if (bizLeave.instanceId) {
            //     formData.instanceId = bizLeave.instanceId
            //     $.operate.saveJson(prefix + "/complete/" + bizLeave.taskId+"?p_B_flag=true", JSON.stringify(formData));
            // } else {
            //     var url = prefix + "/edit";
            //     $.operate.saveJson(url, JSON.stringify(formData));
            // }
            var url = prefix + "/edit";
            $.operate.saveJson(url, JSON.stringify(formData));
        }
    }

    //获取枚举
    function getDictStr(dicts) {
        var result = ":请选择;";
        for (var i = 0; i < dicts.length; i++) {
            var label = dicts[i].dictLabel;
            var value = dicts[i].dictValue;
            result += value + ":" + label + ";";
        }
        result = result.substring(0, result.length - 1);
        return result;
    }

    function renderTime(parent, controlId, uniqueIndex) {
        var divDom = document.createElement("div");
        divDom.classList.add("input-group");
        divDom.classList.add("bootstrap-timepicker");
        divDom.classList.add("timepicker");
        //input
        var inputDom = document.createElement("input");
        inputDom.classList.add("form-control");
        inputDom.setAttribute("data-provide", "timepicker");
        inputDom.setAttribute("data-template", "modal");
        inputDom.setAttribute("data-minute-step", "1");
        inputDom.setAttribute("data-modal-backdrop", "true");
        inputDom.setAttribute("data-show-meridian", "false");
        inputDom.setAttribute("type", "text");
        inputDom.setAttribute("required", "required");
        inputDom.setAttribute("aria-required", true);
        inputDom.style["width"] = "100px";
        inputDom.id = controlId;
        inputDom.name = controlId;
        inputDom.addEventListener("change", function (e) {
            calculateTime(uniqueIndex)
        });
        divDom.appendChild(inputDom);
        parent.appendChild(divDom);
    }

    function renderOptions(parent, controlId, data) {
        var selectDom = document.createElement("select");
        selectDom.classList.add("form-control");
        selectDom.classList.add("select2-multiple");
        selectDom.setAttribute("multiple", true);
        selectDom.setAttribute("required", "required");
        selectDom.setAttribute("aria-required", true);
        selectDom.style["width"] = "400px";
        selectDom.id = controlId;
        selectDom.name = controlId;
        //init options
        var dicts = [[${@dict.getType('biz_operator')}]];
        for (var i = 0; i < dicts.length; i++) {
            var dict = dicts[i]
            var optionDom = document.createElement("option");
            optionDom.value = dict.dictValue;
            optionDom.innerText = dict.dictLabel
            //选中
            // for (var i = 0; i < data.length; i++) {
            //     if(data[i] == dict.dictValue){
                    optionDom.selected = "selected"
                    // break;
            //     }
            // }
            selectDom.appendChild(optionDom);
        }
        parent.appendChild(selectDom);
    }

    // 监听开始和结束日期填写，动态生成时间和工时
    function calculateTime(uniqueIndex) {
        setTimeout(function () {
            var rowIndex = myAppendGrid.getRowIndex(uniqueIndex);
            var str1 = myAppendGrid.getCtrlValue("startTime", rowIndex) || 0;
            var str2 = myAppendGrid.getCtrlValue("endTime", rowIndex) || 0;
            if (str1 == 0 || str2 == 0) {
                return;
            }
            var number1 = str1.split(":");
            var number2 = str2.split(":");
            var startTime = parseInt(number1[0]) * 60 + parseInt(number1[1])
            var endTime = parseInt(number2[0]) * 60 + parseInt(number2[1])
            if (startTime >= endTime) {
                $.modal.alertWarning("结束时间必须大于开始时间");
                return false;
            }
            //时间(单位分钟)
            var minute = endTime - startTime;
            myAppendGrid.setCtrlValue("minute", rowIndex, minute);
            //工时(单位小时)
            var hour = Math.floor(minute * 100 / 60) / 100;
            myAppendGrid.setCtrlValue("hour", rowIndex, hour);
            //数据统计
            dataSummary();
        }, 100)
    }

    function dataSummary() {
        sumTemp = {
            "gridDatas": [],
            "sumMinute": 0,              //时间(分钟)
            "sumHour": 0,                //工时(小时)
            "sumPlanNum": 0,             //計画数
            "sumProdNum": 0,             //阶段生产
            "sumTotalProdNum": 0,        //总生产
            "sumRealNum": 0,             //実績统计数
            "sumBadNum": 0,              //不良数
            "sumTestNum": 0,             //试验品
            "sumReuse": 0,               //再利用
            "sumDirectOperator": 0,      //直接作业人员
            "sumIndirectOperator": 0,    //直间作业人员
            "sumPlanRate": 0,            //速成率=实际统计数/计划数 *100%
            "sumWorkTimeTypes": {},
            "sumGoodProdRate": 0,        //良品比例
            "sumHourRate": 0,            //工时达成率
            "badReason": "",             //不良内容
            "reason": "",                //特计
        }
        for (var i = 1; i <= 23; i++) {
            sumTemp.sumWorkTimeTypes[i] = 0;
        }
        // Get row count
        var rowCount = myAppendGrid.getRowCount();
        for (var i = 0; i < rowCount; i++) {
            //时间
            var minute = getAppendGridData("minute", i);
            sumTemp.sumMinute += minute;
            var workTimeType = getAppendGridData("workTimeType", i)
            if (i == 0 && workTimeType && workTimeType != 1) {
                $.modal.alertWarning("第一行必须为始件");
                return false;
            }
            if (!sumTemp.sumWorkTimeTypes[workTimeType]) {
                sumTemp.sumWorkTimeTypes[workTimeType] = minute;
            } else {
                sumTemp.sumWorkTimeTypes[workTimeType] += minute;
            }
            //直接人员数量
            var directOperator = getAppendGridArray("directOperator", i).length;
            sumTemp.sumDirectOperator = Math.max(directOperator, sumTemp.sumDirectOperator);
            //工时
            if (workTimeType == 5 || workTimeType == 6 || workTimeType == 7) {
                //时间类型为休息7、就餐6、设备停止5时，工时=0
                myAppendGrid.setCtrlValue("hour", i, 0);
            } else {
                //工时单位为小时，计算公式 时间/60*直接人员数量
                var hour = Math.floor(minute * 100 * directOperator / 60) / 100;
                myAppendGrid.setCtrlValue("hour", i, hour);
            }
            sumTemp.sumHour += getAppendGridData("hour", i);
            //計画数
            var planNum = getAppendGridData("planNum", i);
            sumTemp.sumPlanNum += planNum;
            //実績统计数
            var realNum = getAppendGridData("realNum", i);
            sumTemp.sumRealNum += realNum;
            //不良数
            var badNum = getAppendGridData("badNum", i);
            sumTemp.sumBadNum += badNum;
            //试验品
            var testNum = getAppendGridData("testNum", i);
            sumTemp.sumTestNum += testNum;
            if (workTimeType == 1) {
                //1.计算规则，第一行必须为始件，且只有第一个时间类型为始件时，总生产=阶段生产=实际统计数
                myAppendGrid.setCtrlValue("totalProdNum", i, realNum);
                myAppendGrid.setCtrlValue("prodNum", i, realNum);
            } else {
                /**
                 * 2.自第二行起
                 *  总生产数 = 实际统计数 + 不良数 + 实验品
                 *  阶段生产 = 总生产 -（减去）上一行的实际统计数
                 */
                var totalProdNum = realNum + badNum + testNum;
                myAppendGrid.setCtrlValue("totalProdNum", i, totalProdNum);
                myAppendGrid.setCtrlValue("prodNum", i, totalProdNum - getAppendGridData("realNum", i - 1));
            }
            //阶段生产
            sumTemp.sumProdNum += getAppendGridData("prodNum", i);
            //总生产
            sumTemp.sumTotalProdNum += getAppendGridData("totalProdNum", i);
            sumTemp.sumReuse += getAppendGridData("reuse", i);
            //间接人员数量
            var indirectOperator = getAppendGridArray("indirectOperator", i).length;
            sumTemp.sumIndirectOperator = Math.max(indirectOperator, sumTemp.sumDirectOperator);
        }
        //总作业时间=这一列时间的累加-休息7-就餐时间6-其他产线生产3，单位为分钟
        var sumMinute = sumTemp.sumMinute - sumTemp.sumWorkTimeTypes["7"] - sumTemp.sumWorkTimeTypes["6"] - sumTemp.sumWorkTimeTypes["3"]
        $("input[name='sumMinute']").val(sumMinute);
        $("input[name='sumHour']").val(sumTemp.sumHour.toFixed(2));
        $("input[name='sumPlanNum']").val(sumTemp.sumPlanNum);
        $("input[name='sumProdNum']").val(sumTemp.sumProdNum);
        //总生产
        $("input[name='sumTotalProdNum']").val(sumTemp.sumTotalProdNum);
        //不良数
        $("input[name='sumBadNum']").val(sumTemp.sumBadNum);
        //试验品
        $("input[name='sumTestNum']").val(sumTemp.sumTestNum);
        //实际统计数总数=总生产总数-不良数-实验品数
        var sumRealNum = sumTemp.sumTotalProdNum - sumTemp.sumBadNum - sumTemp.sumTestNum
        $("input[name='sumRealNum']").val(sumRealNum);
        $("input[name='sumReuse']").val(sumTemp.sumReuse);
        $("input[name='sumDirectOperator']").val(sumTemp.sumDirectOperator);
        $("input[name='sumIndirectOperator']").val(sumTemp.sumIndirectOperator);
        // 速成率=实际统计数/计划数 *100%
        sumTemp.sumPlanRate += (sumTemp.sumRealNum * 100 / sumTemp.sumPlanNum)
        sumTemp.sumPlanRate = sumTemp.sumPlanRate.toFixed(2)
        $("input[name='sumPlanRate']").val(sumTemp.sumPlanRate);
        //稼动
        var sumWorkTimeType2 = sumTemp.sumWorkTimeTypes["2"];
        $("input[name='sumWorkTimeType2']").val(sumWorkTimeType2);
        //部品等待
        var sumWorkTimeType16 = sumTemp.sumWorkTimeTypes["16"]
        $("input[name='sumWorkTimeType16']").val(sumWorkTimeType16);
        //品质停止
        var sumWorkTimeType10 = sumTemp.sumWorkTimeTypes["10"]
        $("input[name='sumWorkTimeType10']").val(sumWorkTimeType10);
        //设备停止
        var sumWorkTimeType5 = sumTemp.sumWorkTimeTypes["5"];
        $("input[name='sumWorkTimeType5']").val(sumWorkTimeType5);
        //试做
        var sumWorkTimeType12 = sumTemp.sumWorkTimeTypes["12"]
        $("input[name='sumWorkTimeType12']").val(sumWorkTimeType12);
        //无计划=无计划+（开会、5S=8）
        var sumWorkTimeType9 = sumTemp.sumWorkTimeTypes["9"] + sumTemp.sumWorkTimeTypes["8"]
        $("input[name='sumWorkTimeType9']").val(sumWorkTimeType9);
        //切换时间=所有时间类型为始件+终件+切换的时间累加
        var sumWorkTimeType11 = sumTemp.sumWorkTimeTypes["1"] + sumTemp.sumWorkTimeTypes["4"] + sumTemp.sumWorkTimeTypes["11"]
        $("input[name='sumWorkTimeType11']").val(sumWorkTimeType11);
        //其他=总作业时间-稼动-切换时间-设备停止-无计划-部品等待-品质停止-试做
        var sumWorkTimeType19 = sumMinute - sumWorkTimeType2 - sumWorkTimeType11 - sumWorkTimeType5 - sumWorkTimeType9 - sumWorkTimeType16 - sumWorkTimeType10 - sumWorkTimeType12;
        $("input[name='sumWorkTimeType19']").val(sumWorkTimeType19);
        //良品比例=(実績统计数-不良数)/実績统计数 *100%
        if (sumTemp.sumRealNum > 0) {
            sumTemp.sumGoodProdRate += (sumTemp.sumRealNum - sumTemp.sumBadNum) * 100 / sumTemp.sumRealNum;
            sumTemp.sumGoodProdRate = sumTemp.sumGoodProdRate.toFixed(2)
            $("input[name='sumGoodProdRate']").val(sumTemp.sumGoodProdRate);
        }
        //工时达成率
        sumTemp.sumHourRate += sumTemp.sumHour * 100 / 8;
        sumTemp.sumHourRate = sumTemp.sumHourRate.toFixed(2)
        $("input[name='sumHourRate']").val(sumTemp.sumHourRate);
        //特记=实际统计总数/总稼动时间（该时间单位为分钟）/60（将分钟换算成小时）/直接人员人数
        var reason = Math.floor(parseFloat(sumRealNum) / sumWorkTimeType2 / 60 / sumTemp.sumDirectOperator * 100) / 100
        $("input[name='reason']").val(reason);
        formData = sumTemp;
    }

    function getAppendGridArray(fieldName, rowIndex) {
        var res = myAppendGrid.getCtrlValue(fieldName, rowIndex);
        return res;
    }

    function getAppendGridData(fieldName, rowIndex) {
        var minute = parseFloat(myAppendGrid.getCtrlValue(fieldName, rowIndex));
        return isNaN(minute) ? 0 : minute
    }

    // 监听A字段，动态生成B字段
    function dictCacadeChange(dicts, fieldName, secondFieldName, uniqueIndex) {
        var rowIndex = myAppendGrid.getRowIndex(uniqueIndex);
        var value = myAppendGrid.getCtrlValue(fieldName, rowIndex) || 0;
        if (value == 0) {
            return;
        }
        for (var i = 0; i < dicts.length; i++) {
            var obj = dicts[i];
            if (obj.dictValue == value) {
                var contentSubTypes = $.parseJSON(obj.remark);
                //级联的字段
                myAppendGrid.setCtrlValue(secondFieldName, rowIndex, contentSubTypes);
                break;
            }
        }
    }

    function enableAttrs(fieldNames, rowIndex) {
        for (var i = 0; i < fieldNames.length; i++) {
            enableAttr(fieldNames[i], rowIndex);
        }
    }

    function enableAttr(fieldName, rowIndex) {
        var field = myAppendGrid.getCellCtrl(fieldName, rowIndex);
        field.setAttribute("required", "required");
        $("#" + field.id).removeAttr("disabled")
    }

    function disableAttrs(fieldNames, rowIndex) {
        for (var i = 0; i < fieldNames.length; i++) {
            disableAttr(fieldNames[i], rowIndex);
        }
    }

    function disableAttr(fieldName, rowIndex) {
        myAppendGrid.setCtrlValue(fieldName, rowIndex, null);
        var field = myAppendGrid.getCellCtrl(fieldName, rowIndex);
        $("#" + field.id).removeAttr("required")
        field.setAttribute("disabled", true);
    }

    // 监听时间类型填写
    function workTimeTypeChange(uniqueIndex) {
        var rowIndex = myAppendGrid.getRowIndex(uniqueIndex);
        var value = myAppendGrid.getCtrlValue("workTimeType", rowIndex) || 0;
        //始件
        if (value == 1) {
            enableAttrs(beginWorkTimeAttrs, rowIndex);
            disableAttrs(repairAttrs, rowIndex);
        } else {
            //设备停止
            if (value == 5) {
                enableAttrs(repairAttrs, rowIndex);
            } else {
                disableAttrs(repairAttrs, rowIndex);
            }
            disableAttrs(beginWorkTimeAttrs, rowIndex);
        }
        dataSummary();
    }

    function getCtrlAttr(ctrlAttr) {
        var disabled = [[${disabled}]]
        if (disabled) {
            ctrlAttr.disabled = true
        }
        return ctrlAttr
    }

    $(function () {
        //https://appendgrid.apphb.com/Documentation#link-cellClass
        myAppendGrid = new AppendGrid({
            element: "tblAppendGrid",
            uiFramework: "bootstrap4",
            iconFramework: "fontawesome5",
            // Hide the row number column
            hideRowNumColumn: true,
            // Put the row button in front
            rowButtonsInFront: true,
            initData: [[${bizLeave}]].gridDatas,
            columns: [
                {
                    name: "startTime",
                    display: "检查开始时间",
                    type: "custom",
                    customBuilder: function (parent, idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        renderTime(parent, controlId, uniqueIndex);
                    },
                    customGetter: function (idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        var res = $("#" + controlId).val();
                        return res;
                    },
                    customSetter: function (idPrefix, name, uniqueIndex, value) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        document.getElementById(controlId).value = value;
                    }
                },
                {
                    name: "endTime",
                    display: "检查结束时间",
                    type: "custom",
                    customBuilder: function (parent, idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        renderTime(parent, controlId, uniqueIndex);
                    },
                    customGetter: function (idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        var res = $("#" + controlId).val();
                        return res;
                    },
                    customSetter: function (idPrefix, name, uniqueIndex, value) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        document.getElementById(controlId).value = value;
                    }
                },
                {
                    name: "workTimeType",
                    display: "时间类型",
                    ctrlAttr: getCtrlAttr({required: "required"}),
                    type: "select",
                    ctrlOptions: getDictStr([[${@dict.getType('biz_work_time_type')}]]),
                    ctrlCss: {
                        "min-width": "100px",
                        "max-width": "100px"
                    },
                    events: {
                        change: function (e) {
                            workTimeTypeChange(e.uniqueIndex);
                        }
                    }
                },
                {
                    name: "minute",
                    display: "时间",
                    type: "readonly",
                    ctrlCss: {
                        "max-width": "40px",
                        "background-color": "#ececec"
                    },
                    ctrlAttr: {required: "required"}
                },
                {
                    name: "hour",
                    display: "工时",
                    type: "readonly",
                    ctrlCss: {
                        "max-width": "40px",
                        "background-color": "#ececec"
                    },
                    ctrlAttr: {required: "required"},
                },
                {
                    name: "contentType",
                    display: "品番紙内容",
                    ctrlAttr: getCtrlAttr({required: "required"}),
                    type: "select",
                    ctrlOptions: getDictStr(biz_content_types),
                    ctrlCss: {
                        "min-width": "120px",
                        "max-width": "120px"
                    },
                    events: {
                        change: function (e) {
                            dictCacadeChange(biz_content_types, "contentType", "contentSubType", e.uniqueIndex)
                        }
                    }
                },
                {
                    name: "contentSubType",
                    display: "車種",
                    ctrlAttr: {required: "required"},
                    type: "readonly",
                    ctrlCss: {
                        "background-color": "#ececec",
                        "max-width": "110px"
                    },
                },
                {
                    name: "planNum",
                    display: "計画数",
                    type: "number",
                    ctrlCss: {
                        "max-width": "100px",
                        "min-width": "100px"
                    },
                    ctrlAttr: getCtrlAttr({
                        required: "required",
                        min: 0
                    }),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "prodNum",
                    display: "阶段生产",
                    type: "number",
                    ctrlCss: {
                        "max-width": "100px",
                        "min-width": "100px"
                    },
                    ctrlAttr: getCtrlAttr({
                        required: "required",
                        min: 0
                    }),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "totalProdNum",
                    display: "总生产",
                    type: "number",
                    ctrlCss: {
                        "max-width": "100px",
                        "min-width": "100px"
                    },
                    ctrlAttr: getCtrlAttr({
                        required: "required",
                        min: 0
                    }),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "realNum",
                    display: "実績统计数",
                    type: "number",
                    ctrlCss: {
                        "max-width": "80px",
                        "min-width": "80px"
                    },
                    ctrlAttr: getCtrlAttr({
                        required: "required",
                        min: 0
                    }),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "badNum",
                    display: "不良数",
                    type: "number",
                    ctrlCss: {
                        "max-width": "80px",
                        "min-width": "80px"
                    },
                    ctrlAttr: getCtrlAttr({}),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "testNum",
                    display: "试验品",
                    type: "number",
                    ctrlCss: {
                        "max-width": "80px",
                        "min-width": "80px"
                    },
                    ctrlAttr: getCtrlAttr({}),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "reuse",
                    display: "再利用",
                    type: "number",
                    ctrlCss: {
                        "max-width": "80px",
                        "min-width": "80px"
                    },
                    ctrlAttr: getCtrlAttr({}),
                    events: {
                        change: function (e) {
                            dataSummary();
                        }
                    }
                },
                {
                    name: "directOperator",
                    display: "直接作业人员",
                    type: "custom",
                    ctrlAttr: getCtrlAttr({}),
                    customBuilder: function (parent, idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        var gridDatas = [[${bizLeave}]].gridDatas;
                        var data = gridDatas[uniqueIndex - 1].directOperator
                        renderOptions(parent, controlId, data);
                    },
                    customGetter: function (idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        var result = [];
                        var res = $("#" + controlId + " option:selected").each(function () {
                            result.push($(this).val());
                        })
                        // return document.getElementById(controlId).value;
                        return result;
                    },
                    customSetter: function (idPrefix, name, uniqueIndex, value) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        document.getElementById(controlId).value = value;
                    }
                },
                {
                    name: "indirectOperator",
                    display: "直间作业人员",
                    type: "custom",
                    customBuilder: function (parent, idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        var gridDatas = [[${bizLeave}]].gridDatas;
                        var data = gridDatas[uniqueIndex - 1].indirectOperator
                        renderOptions(parent, controlId, data);
                    },
                    customGetter: function (idPrefix, name, uniqueIndex) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        var result = [];
                        var res = $("#" + controlId + " option:selected").each(function () {
                            result.push($(this).val());
                        })
                        // return document.getElementById(controlId).value;
                        return result;
                    },
                    customSetter: function (idPrefix, name, uniqueIndex, value) {
                        var controlId = idPrefix + "_" + name + "_" + uniqueIndex;
                        document.getElementById(controlId).value = value;
                    }
                },
                {
                    name: "repairDeviceNum",
                    display: "维修设备编号",
                    type: "select",
                    ctrlOptions: getDictStr([[${@dict.getType('biz_repair_device')}]]),
                    ctrlCss: {
                        "min-width": "90px",
                        "max-width": "90px"
                    },
                    ctrlAttr: {
                        disabled: "disabled"
                    },
                    events: {
                        change: function (e) {
                            dictCacadeChange(biz_repair_device, "repairDeviceNum", "repairDeviceName", e.uniqueIndex)
                        }
                    }
                },
                {
                    name: "repairDeviceName",
                    display: "维修设备名称",
                    type: "readonly",
                    ctrlCss: {
                        "background-color": "#ececec",
                        "max-width": "80px"
                    },
                    ctrlAttr: {
                        disabled: "disabled"
                    }
                },
                {
                    name: "repairOrder",
                    display: "维修单号",
                    ctrlCss: {
                        "max-width": "130px",
                        "min-width": "130px"
                    },
                    ctrlAttr: {
                        disabled: "disabled"
                    }
                },
                {
                    name: "repairReason",
                    display: "停止原因",
                    type: "select",
                    ctrlOptions: getDictStr([[${@dict.getType('biz_repair_reason')}]]),
                    ctrlCss: {
                        "max-width": "130px",
                        "min-width": "130px"
                    },
                    ctrlAttr: {
                        disabled: "disabled"
                    }
                },
                {
                    name: "repairOperator",
                    display: "维修人员",
                    ctrlAttr: {disabled: "disabled"},
                    type: "select",
                    ctrlOptions: getDictStr([[${@dict.getType('biz_repair_operator')}]]),
                    ctrlCss: {
                        "min-width": "130px"
                    }
                },
            ],
            // Hide the two remove buttons
            hideButtons: {
                // remove: true,
                insert: true,
                moveUp: true,
                moveDown: true,
                removeLast: true
            },
            afterRowInserted: function (caller, rowIndex) {
                renderSelect2();
            },
            afterRowAppended: function (caller, rowIndex) {
                renderSelect2();
            },
        });

        //trigger render
        renderSelect2();
        //触发数据统计
        dataSummary();
    })

    function renderSelect2() {
        $(".select2-multiple").select2({
            placeholder: "请选择",
            tags: true,
            // theme: "classic",
            width: 'resolve', // need to override the changed default
            createTag: function (params) {
                var term = $.trim(params.term);

                if (term === '') {
                    return null;
                }

                return {
                    id: term,
                    text: term,
                    newTag: true // add additional parameters
                }
            }
        }).on('change', function (e) {
            dataSummary()
        });
    }
</script>
<style>
    .container-div {
        max-height: calc(120vh - 210px);
        overflow-y: auto;
    }

    table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background: white;
    }

    table tbody th {
        position: relative;
    }

    table thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }
</style>
</body>
</html>
